$mn:#fff;
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: #b77fcb;
    font-family: 'Raleway',sans-serif;
  }

  header {
    background: #b77fcb;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }

  .menu {
    width: 900px;
    margin: 0 auto;
  }

  img {
    width: 100px;
    height: 50px;
    float: left;
    padding: 8px;

  }

  nav {
    float: right;
  }

  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(255, 245, 245);
    font-weight: bold;
  }

  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }

  nav ul li a:hover::before {
    width: 100%;
  }

  .slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .slider ul{
    display:flex;
    padding:0;
    width: 400%;
    
    animation: cambio 20s infinite alternate linear;
 
  }

  .slider li{
    width: 100%;
    list-style: none;
  }
  .slider img{
    width: auto;
    height:auto;
  }
 
  @keyframes cambio {
    0%{margin-left:0; }
    20%{ margin-left: 0;}

    25%{margin-left: -50%;}
    45%{margin-left: -50%;}

    5%{margin-left:  -50%;}
    45%{margin-left: -50%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

    
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #1a1616;
    font-family: 'calibri';
    font-size: x-large;
    text-align: center;
  }
  ol{
    font-size: x-large; 
    color: #eeeaf0;
  }

  .linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
  }

  .galery{
    
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  width: 95%;
  margin:auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  }
.galery > a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
  .galery img{
    width:100%;
    vertical-align: top;
    height: 310px;
    object-fit: cover;
    transition:transform 0.5s;

  }

  .galery a:hover img{
    filter:blur(2px);
    transform: rotate(10deg) scale(1.3);
  }

  .light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
   /* transition: transform.3s ease-in-out;*/
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }

  .light-box img{
    width: 95vw;
    max-height: 75vh;
    
  }

  .light-box:target{
    transform: scale(1);

  }

  .close{
    display:block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color:$mn;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  }

  .next{
    display:block;
    background: #851919;
    color:$mn;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
  }


  .wrapper{
    margin-top: 10%;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: $mn;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $mn;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
